* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.6rem;
}

:root {
    --nav-height: 3rem;
    --font-family: "sora";
}

body {
    font-family: var(--font-family);
    background-color: #ffd000;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    height: var(--nav-height);
}

.logo {
    font-family: "Sora", sans-serif;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #0000006e;
    text-transform: uppercase;
}

.logo i {
    scale: 1.4;
    color: #000;
    margin-right: 0.3rem;
}

nav ul {
    display: flex;
    width: max-content;
}

.list {
    width: 7rem;
    text-align: center;
    list-style: none;
    font-weight: 600;
    cursor: pointer;
}

.nav-achor {
    text-decoration: none;
    color: black;
    transition: all;
    transition-duration: 0.2s;
}

.nav-icons {
    margin-right: 0.2rem;
}

.list:hover .nav-icons,
.list:hover .nav-achor {
    transition-duration: 0.2s;
    letter-spacing: 0.05rem;
    color: #0000006b;
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    gap: 2rem;
}

.heading {
    text-transform: capitalize;
    color: white;
    margin-bottom: 0.2rem;
}

.form-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1rem;
    background-color: #000;
    border-radius: 1rem;
    gap: 0.8rem;
}

.delete-lang {
    gap: 1rem;
    margin-top: 1rem;
}

input {
    width: 15rem;
    height: 1.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border: 0.05rem solid rgb(157, 157, 157);
    color: #fff;
    letter-spacing: 0.025rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

label {
    font-size: 0.6rem;
    color: #fff;
    padding-left: 0.1rem;
    text-transform: capitalize;
}

input::placeholder {
    color: #999999;
    font-family: "poppins";
}

.upload-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.3rem;
    align-items: center;
    width: 15rem;
}

.upload-file {
    border: 0.05rem solid rgb(157, 157, 157);
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    letter-spacing: 0.02rem;
    background-color: #ffffff32;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

input[type="file"] {
    display: none;
}

.form-submit-btn {
    font-size: 0.9rem;
    width: 15rem;
    padding: 0.7rem;
    background-color: #94949496;
    border: none;
    border-radius: 0.4rem;
    text-align: center;
    color: white;
    cursor: pointer;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
}

.form-submit-btn i {
    margin-right: 0.5rem;
}

.form-submit-btn:hover {
    background-color: rgb(54, 54, 54);
}

.display-langs {
    width: 18rem;
    height: min-content;
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: black;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

.lang-heading-div {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.012rem;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 0.15rem;
    margin-bottom: 0.8rem;
    -moz-text-decoration-color: white;
    
}

.display-langs .heading {
	margin-bottom: 1rem;
}

.lang-id-name-div {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    border-bottom: 0.02rem solid #e2e2e2;
    align-content: center;
    margin-bottom: .42rem;
}

.show-lang-data-p {
    font-size: 0.8rem;
    color: white;
}

.file-feedback,
.feedback-success {
    color: white;
    font-size: 0.5rem;
    letter-spacing: 0.0175rem;
}

.feedback-error {
    color: red;
    font-size: 0.5rem;
    letter-spacing: 0.0175rem;
    text-transform: capitalize;
}

.upload-feedback {
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 0.015rem;
}
